/* Antonello's code. Git-Hub: antoinde */

/* ***********GENERICS************ */

/*reset style css*/
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  background-image:url(https://www.focusjunior.it/content/uploads/2019/02/pari-dispari-1280x720.jpg);
  background-size: repeat;
}

/* ***********UTILITIES************ */

/* ***********CONTENT************ */

.container{
  
  margin: 50px auto;
  max-width: 600px;
  background-color: brown;
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  border: 20px solid black;
}
h1, h2{
  text-align: center;
}
